<!DOCTYPE <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Book App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/base.css" />
  <link rel="stylesheet" href="/styles/modules.css" />
  <link rel="stylesheet" href="/styles/icons.css" />

</head>

<body>

  <header>
    <h1> Search by Title or Author</h1>
    </h1>
  </header>

  <main>
    <form class ="bookform" action="/book" method="post">
      <label> 
        <input type="text" name="booksearch" placeholder="Enter a title or Author" >
      </label>
      <label> Title
        <input type="radio" name="title">
      </label>
      <label> Author
        <input type="radio" name="author">
      </label>

      <input type="submit" value="Search the Google Books API">


    </form>

  </main>


  <footer>

  </footer>





  <script src="server.js"></script>
</body>

</html>