<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Book App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Sirin+Stencil" rel="stylesheet">
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/base.css" />
  <link rel="stylesheet" href="/styles/modules.css" />
  <link rel="stylesheet" href="/styles/icons.css" />

<!-- put head component here -->

</head>

<body>

  <header>
    <h1> Saved Library</h1>
    <!-- put our header component here -->
  </header>
  
  <main>
   <section class="book-view container">
    <ul id="book-list">
      <% results.forEach(book => { %>
        <li class="book-item" data-id="<% book.id %>">
          <p>Book: <%= book.title %></p>
          <p>Author: <%= book.author %></p>
          <p>Summary: <%= book.summary %></p>
          <a href="/detail/<%= book.id %>">View Details </a>

        
        </li>
      <% }) %>
    </ul>  
    <a href="/new">search </a>
   </section>
  </main>

  <footer></footer>





  <script src="server.js"></script>
</body>

</html>